# Web Scraping from Indeed.com & Predicting Salaries 

Houra Marta Taghavi, TX

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest regressor, as well as another classifier of your choice; either logistic regression, SVM, or KNN.

* **Question**: Why would we want this to be a classification problem?
* **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.
Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com
We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

I scarapped data analyst jobs for Washington, New York, and San Francisco with the salary of 60K,70K, 75K, 85K, and 100K. the salary and cities can be modified by changing the "cities_states" and "Analyst_salary_range" lists.

In [7]:
# importing libraries
import pandas as pd
from urllib.request import urlopen
import urllib.parse
from bs4 import BeautifulSoup

In [2]:
#defining cities, state and salary range
cities_states = ['Washington, DC','New York, NY', 'San Francisco, CA']
Analyst_salary_range = ['60', '70', '75', '85', '100']
levels = ['entry', 'mid', 'senior']

In [3]:
url_list = []

for city_state in cities_states:
    city = city_state.split(', ')[0].replace(' ','+')
    state = city_state.split(', ')[1]
    for salary in Analyst_salary_range:
        for level in levels:
            my_url = 'https://www.indeed.com/jobs?q=data+analyst+$'+salary+',000&l='+city+',+'+state+'&radius=50&explvl='+level+'_level&limit=100'
            url_list.append(my_url)

In [8]:
result_data_analyst = pd.DataFrame(columns=["Company","Location","Title","Salary","Level"])          
for url in url_list:
    page_open = urlopen(url)
    page_html = page_open.read()
    page_open.close()
    html = BeautifulSoup(page_html,"html.parser")
    analyst_jobs1 = pd.DataFrame(columns=["Company"])
    analyst_jobs2 = pd.DataFrame(columns=["Title"])
    analyst_jobs3 = pd.DataFrame(columns=["Location","Salary","Level"])
    
    for company in html.findAll("span",{"class":"company"}):
        company_name = company.text
        analyst_jobs1.loc[len(analyst_jobs1)] = [company_name]
        
    for titles in html.findAll('a', {'data-tn-element':'jobTitle'}):
        title = titles.text 
        analyst_jobs2.loc[len(analyst_jobs2)] = [title]

    for location in html.findAll("span",{"class":"location"}):
        location_name = location.text
        parsed = urllib.parse.urlsplit(url)
        info = parsed.query
        info =info.rpartition('analyst+$')[2]
        salary =info.replace('+$','').split('&l=',1)[0].replace(',','')
        level = info.split('explvl=',1)[1].split('&',1)[0]
        analyst_jobs3.loc[len(analyst_jobs3)] =[location_name,salary,level] 
       

        
     
    analyst_jobs1 = analyst_jobs1["Company"].str.replace("\n","")
    analyst_jobs2 = analyst_jobs2["Title"].str.replace("\n","")
    analyst_jobs3 ["Location"]= analyst_jobs3["Location"].str.replace("\n","")
    
    #merging all the information into a final dataframe
    result = pd.concat([analyst_jobs1, analyst_jobs2, analyst_jobs3], axis=1)
    result_data_analyst = pd.concat([result_data_analyst,result], axis=0)

C:\Users\shpir\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:36: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [9]:
result_data_analyst.shape

(2515, 5)

In [10]:
result_data_analyst

,Company,Level,Location,Salary,Title
0,The HSC Health Care System,entry_level,"Washington, DC",60000,Junior Data Analyst
1,Addison Group,entry_level,"Washington, DC 20003 (Capitol Hill area)",60000,Reports Analyst
2,PCAOB,entry_level,"Washington, DC",60000,Research Analyst
3,NSD,entry_level,"Washington, DC 20036 (Downtown area)",60000,Data Analyst
4,Guidehouse,entry_level,"Washington, DC",60000,Data Analyst - Experienced Associate
5,"ShadowObjects, LLC",entry_level,"Washington, DC 20201 (South West area)",60000,Acquisition Data Analyst
6,National Geospatial-Intelligence Agency,entry_level,"Woodlawn, MD",60000,Data Analyst - Pay Band 3
7,9th Way Solutions,entry_level,"Washington, DC 20005 (Logan Circle area)",60000,Research Analyst (Entry Level)
8,Deloitte,entry_level,"Washington, DC",60000,"Analyst, Strategy and Research"
9,Government of the District of Columbia,entry_level,"Washington, DC",60000,Program Analyst
10,Uber,entry_level,"Washington, DC",60000,"Data Analyst II, Strategy & Planning"
11,Government of the District of Columbia,entry_level,"Washington, DC",60000,OSSE: Management Analyst
12,General Dynamics Information Technology,entry_level,"Washington, DC",60000,Data Analyst
13,US Department of Health And Human Serv...,entry_level,"Washington, DC",60000,Public Health Analyst
14,Data Trust,entry_level,"Arlington, VA 22201 (Lyon Village area)",60000,Political Data Operations Analyst
15,Guidehouse,entry_level,"Alexandria, VA",60000,Data Analyst - Associate
16,The Counterterrorism Group,entry_level,"Washington, DC 20002 (Capitol Hill area)",60000,Counterterrorism Intelligence Analyst Intern (...
17,Deloitte,entry_level,"Arlington, VA 22201 (Lyon Village area)",60000,Jr. Financial Data Analyst (Secret Clearance R...
18,"English-El Enterprises, LLC",entry_level,"Washington, DC 20001 (Shaw area)",60000,Data Analyst (USCIS)
19,Avila Trading,entry_level,"Alexandria, VA",60000,Data Analayst
20,The Soter Group,entry_level,"McLean, VA",60000,Data Analyst
21,Nathan Associates,entry_level,"Falls Church, VA 22046",60000,Analyst
22,The KWO,entry_level,"Washington, DC",60000,Data Curation Analyst
23,General Dynamics Information Technology,entry_level,"Arlington, VA 22203 (Bluemont area)",60000,Quality Analyst
24,Inspire,entry_level,"Washington, DC",60000,Data Analyst
25,IBM,entry_level,"Bethesda, MD 20814",60000,Digital Change Junior Analyst
26,"City of Alexandria, VA",entry_level,"Washington, DC",60000,Management Analyst
27,"IQlogg, Inc",entry_level,"Washington, DC 20005 (Logan Circle area)",60000,SQL Data Analyst
28,"COLLABORAIT, INC",entry_level,"Washington, DC",60000,Data Analyst
29,Global Strategy Group,entry_level,"Washington, DC",60000,Associate Data Analyst
...,...,...,...,...,...
26,Cruise Automation,senior_level,"San Francisco, CA",100000,Senior Product Analyst
27,LumenData,senior_level,"San Francisco, CA",100000,Senior Business Analyst
28,Earnest,senior_level,"Sunnyvale, CA 94087",100000,Senior Portfolio Quantitative Analyst
29,"Williams-Sonoma, Inc.",senior_level,"San Francisco, CA 94111 (Financial District area)",100000,"Sr. Data Analyst, Marketing Operations"
30,Zillow Group,senior_level,"Palo Alto, CA 94304",100000,Senior Quantitative Analyst
31,Salesforce,senior_level,"Emeryville, CA",100000,Senior Product Analyst
32,Resourznet Solutions,senior_level,"Santa Clara, CA",100000,Senior Business Analyst
33,Carta,senior_level,"Fremont, CA",100000,Senior Product Analyst
34,Walmart eCommerce,senior_level,"San Francisco, CA",100000,Staff Data Scientist
35,"Williams-Sonoma, Inc.",senior_level,"San Francisco Bay Area, CA",100000,Sr. Data Scientist
36,VMware,senior_level,"San Francisco, CA 94111 (Financial District area)",100000,Senior Operations Analyst
37,Tanium,senior_level,"Sunnyvale, CA",100000,"Director, Analyst Relations"
38,Tata Technologies Inc.,senior_level,"San Francisco, CA",100000,CAE Analyst (NVH)
39,Tesla,senior_level,"San Francisco, CA 94107 (South Of Market area)",100000,"Sr Analyst, BusOps"
40,Blue Owl,senior_level,"Oakland, CA 94607 (Acorn-Acorn Industrial area)",100000,Senior Business Analyst - Insurance
41,Lawrence Berkeley National Laboratory,senior_level,"Sunnyvale, CA",100000,"Business Systems Analyst (Environment, Health,..."
42,"Williams-Sonoma, Inc.",senior_level,"Mountain View, CA",100000,"Sr. Analyst, Loyalty Marketing"
43,xiartech,senior_level,"Santa Clara, CA",100000,Senior Data Analyst With AI/ML with Python coding
44,Discord,senior_level,"San Francisco, CA",100000,Senior Data Analyst
45,Splunk,senior_level,"Mountain View, CA",100000,Senior Sales Operations Analyst
46,University of California Office of the...,senior_level,"San Francisco, CA",100000,"Senior Investment Analyst, Real Assets"
47,Google,senior_level,"Sunnyvale, CA 94089",100000,"Systems Analyst, Lifecycle Technology Management"
48,Upwork,senior_level,"San Francisco, CA",100000,Principal Analyst
49,Peer Solutions Group,senior_level,"Santa Clara, CA 95054",100000,Supply Chain Business Analyst
50,Chicago Global Services,NaN,NaN,NaN,Sr Data Scientist
51,Google,NaN,NaN,NaN,Senior Financial Analyst
52,Factspan Inc,NaN,NaN,NaN,Hiring Senior Data Scientist
53,Juniper Networks,NaN,NaN,NaN,Corporate Strategy Senior Analyst
54,Abl Schools,NaN,NaN,NaN,Sr. Data Scientist
55,Palo Alto Networks,NaN,NaN,NaN,Sr. Marketing Planning Analyst

In [11]:
#saving data
result_data_analyst.to_csv('result_Data_Analyst.csv', encoding='utf-8')